<?xml version="1.0"?>
<config>
    <modules>
        <Artifex_Productblock>
            <version>0.1.0</version>
        </Artifex_Productblock>
    </modules>
	<global>
        <blocks>
            <productblock>
                <class>Artifex_Productblock_Block</class>
            </productblock>
        </blocks>
        <models>
			<productblock>
                <class>Artifex_Productblock_Model</class>
            </productblock>
			<artifex_productblock>
                <class>Artifex_Productblock_Model</class>
                <resourceModel>artifex_productblock_resource</resourceModel>
            </artifex_productblock>
            <artifex_productblock_resource>
                <class>Artifex_Productblock_Model_Resource</class>
                <entities>
                    <cblock>
                        <table>artifex_productblock_cblock</table>
                    </cblock>                   
                </entities>
            </artifex_productblock_resource>
        </models>
		<resources>
            <artifex_productblock_setup>
                <setup>
                    <module>Artifex_Productblock</module>
                </setup>
            </artifex_productblock_setup>
        </resources> 
		<helpers>
            <productblock>
                <class>Artifex_Productblock_Helper</class>
            </productblock>
        </helpers>
    </global>
	<frontend>
         <layout> <!-- definition of layout update for frontend area -->
             <updates>
                 <productblock>
                     <file>productblock.xml</file>
                 </productblock>
             </updates>
         </layout>
    </frontend>
    <adminhtml>
    	<layout>
    		<updates>
    			<productblock>
    				<file>customtabs.xml</file>
    			</productblock>
    		</updates>
    	</layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <productblock_save_product_data>
                        <type>singleton</type>
                        <class>productblock/observer</class>
                        <method>saveProductTabData</method>
                    </productblock_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<artifex>
											<title>Artifex - All</title>
										</artifex>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
</config>